# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Database Healthcheck
PGUSER=user
PGDATABASE=database

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# Cache
CACHE_URL=redis://redis:6379/2
CACHE_DEFAULT_TIMEOUT=3600  # 1 hour

# Subnet
IPV4_SUBNET_MAX_VALUE=24
IPV6_SUBNET_MAX_VALUE=64

# Ping
SAVE_PER_PING_REQUEST=64
PING_RESPONSE_TIMEOUT_SEC=1
